@using BMR_MVC;
@model ViewModel
<script>
$(document).ready(function () {
        $("body").on("click", "#bt_save_excel", function (e) {
            alert('test');
        });
    });</script>
<div class="card">
    <div class="card-header">Import Excel</div>
    <div class="card-body">
        <span><b>Clean Control</b></span>
        <table class="table overflow-auto table-striped t-clean-control" id="t_clean_control" style="font-size:10pt">
            <tr>
                <th>FG_CODE</th>
                <th>RUN_NO</th>
                <th>EQUIPMENT_NO</th>
                <th>EQUIPMENT_NAME</th>
                <th>USER_BY</th>
                <th>USER_DT</th>
                <th>CHECK_BY</th>
                <th>CHECK_DT</th>
                <th>REQUIRE_YN</th>
                <th>LOT_NO</th>
            </tr>
            @foreach (ExcelCleanControlRecordInfo excelClean in Model.ExcelCleanControlRecordInfoss)
            {
                <tr>
                    <td>@excelClean.FG_CODE</td>
                    <td>@excelClean.RUN_NO</td>
                    <td>@excelClean.EQUIPMENT_NO</td>
                    <td>@excelClean.EQUIPMENT_NAME</td>
                    <td>@excelClean.USER_BY</td>
                    <td>@excelClean.USER_DT</td>
                    <td>@excelClean.CHECK_BY</td>
                    <td>@excelClean.CHECK_DT</td>
                    <td>@excelClean.REQUIRE_YN</td>
                    <td>@excelClean.LOT_NO</td>
                </tr>
            }
        </table>

        <span><b>Mix Step</b></span>
        <div class="table-responsive">
            <table class="table overflow-auto table-striped t-mix" id="t_mix" style="font-size:10pt">
                <tr>
                    <th>FG_CODE</th>
                    <th>RUN_NO</th>
                    <th>STEP</th>
                    <th>STEP_DESC</th>
                    <th>USER_BY</th>
                    <th>USER_DT</th>
                    <th>CHECK_BY</th>
                    <th>CHECK_DT</th>
                    <th>REQUIRED_YN</th>
                    <th>TEMP_ENV</th>
                    <th>HUMUDITY_ENV</th>
                    <th>PRESSURE_ENV</th>
                    <th>REQ_TEMP_ENV_YN</th>
                    <th>REQ_HUMUDITY_YN</th>
                    <th>REQ_PRESS_YN</th>
                    <th>TEMP</th>
                    <th>REQ_TEMP_YN</th>
                    <th>VACC_RATE</th>
                    <th>REQ_VACC_YN</th>
                    <th>START_DT</th>
                    <th>END_DT</th>
                    <th>REQ_STAR_STOP_YN</th>
                    <th>RESULT</th>
                    <th>REQ_RESULT_YN</th>
                    <th>REQ_WEIGHT</th>
                    <th>STANDARD_W</th>
                </tr>
                @foreach (ExcelMixStepInfo excelMix in Model.ExcelMixStepInfoss)
                {
                    <tr>
                        <td>@excelMix.FG_CODE</td>
                        <td>@excelMix.RUN_NO</td>
                        <td>@excelMix.STEP</td>
                        <td nowrap>@excelMix.STEP_DESC</td>
                        <td>@excelMix.USER_BY</td>
                        <td>@excelMix.USER_DT</td>
                        <td>@excelMix.CHECK_BY</td>
                        <td>@excelMix.CHECK_DT</td>
                        <td>@excelMix.REQUIRED_YN</td>
                        <td>@excelMix.TEMP_ENV</td>
                        <td>@excelMix.HUMUDITY_ENV</td>
                        <td>@excelMix.PRESSURE_ENV</td>
                        <td>@excelMix.REQ_TEMP_ENV_YN</td>
                        <td>@excelMix.REQ_HUMUDITY_YN</td>
                        <td>@excelMix.REQ_PRESS_YN</td>
                        <td>@excelMix.TEMP</td>
                        <td>@excelMix.REQ_TEMP_YN</td>
                        <td>@excelMix.VACC_RATE</td>
                        <td>@excelMix.REQ_VACC_YN</td>
                        <td>@excelMix.START_DT</td>
                        <td>@excelMix.END_DT</td>
                        <td>@excelMix.REQ_STAR_STOP_YN</td>
                        <td>@excelMix.RESULT</td>
                        <td>@excelMix.REQ_RESULT_YN</td>
                        <td>@excelMix.REQ_WEIGHT</td>
                        <td>@excelMix.STANDARD_W</td>
                    </tr>
                }
            </table>
        </div>
        <div>
            <button class="btn btn-primary" style="float:right" id="bt_save_excel">Save</button>
        </div>
    </div>
</div>
